
body {
  margin-top: 0%;
  background: url('../../../assets/img/mainbg2.png');
  box-shadow: 0 4px 8px 0 rgba(217, 231, 19, 0.2), 0 6px 20px 0 rgba(255, 200, 18, 0.19);
  background-color: lightgoldenrodyellow;
  background-repeat:  repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
}

main {
  padding-top: 20px;
  width: 90%;
  margin: auto;

  text-align: justify;
  text-justify: inter-word;
}

mat-card{
  background-color: rgba(255, 255, 255, 0.7);
}

.spinner{
  border: 16px solid silver;
  border-top: 16px solid #3c6382;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 500ms linear infinite;
  top: 30%;
  left: 50%;
position: absolute;z-index: 99 !important;
}

@keyframes spin{
   0% {transform: rotate(0deg)}
   100% {transform: rotate(-360deg)}
}


.txtspinner{
  top: 45%;
  left: 53%;
position: absolute;;
}

