
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>


<p></p>
<main>

<div class="container">
<div class="row" >
<div class="col-md-12">

  <div class="py-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12"></div>
      </div>
    </div>
  </div>
  <div class="py-0">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center w-25 my-2"> <img src="../../../assets/img/slion.png" alt="" width="50px;"> <h2 style="font-weight: bold;">มหาวิทยาลัยรามคำแหง</h2> </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
  <div class="py-0">
    <div class="container">
      <div class="row">
        <div class="col-md-3 my-2"> <b>ภาคปีการศึกษา</b>  <br> <b>วันที่</b>  08/08/2563<br> <b>ผู้ชำระ</b>  ทำเนียน เหมือนเรียนมา</div>
        <div class="col-md-6 text-center w-25 my-2" style="font-weight: bold;">  ใบเสร็จรับเงิน<br>เลขประจำตัวผูํ้เสียภาษี 0000000000</div>
        <div class="col-md-3 my-2"> <b>เลขที่่</b>  ETS631000001<br> <b>รหัสประจำตัว</b>  6299199991</div>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="text-align: center;" >
          <table border="1">
            <thead>
              <tr>
                <td style="width: 300px;">ขอจบการศึกษา</td>
                <td>รวม(บาท)</td>
                <td>กระบวนวิชา</td>
                <td>หน่วยกิต</td>
                <td>วันที่สอบ</td>
                <td>คาบ</td>
                <td>ห้องสอบ</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>ค่าธรรมเนี่ยมการสอบ</td>
                <td>100</td>
                <td>ENG1001</td>
                <td>3</td>
                <td>20/08/2563</td>
                <td>4</td>
                <td>SKB801</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>


              <tr>
                <td colspan="4" style="text-align: right;" style="padding-top: 15px;"><b>รวมเงินทั้งหมด</b> </td>
                <td colspan="3" style="padding-top: 15px;"> <b>100 บาท.</b> </td>
              </tr>
            </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6"></div>
      </div>
    </div>
  </div>
  <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

</main>
</body>
