
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <body>

  <app-header></app-header>
<main>


  <div class="container">
    <app-profilecomponent></app-profilecomponent>

       <div class="row" style="margin-bottom: 15px;">
        <div class="col-md-12 tabmaintable" >
          <div class="texrheader">
            <h3>
              <span class="material-icons">payment</span>
              แสดงรายการที่รอการชำระเงิน
            </h3>
          </div>
        </div>
      </div>

     <div class="row">
      <div class="col-md-12">
       <table class="table table-striped">
         <thead>
           <tr>
             <th scope="col" style="width: 10px;">#No</th>
             <th scope="col">กรุณาชำระเงินภายในวันที่</th>
             <th scope="col">รับ Qr Code </th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let dt of todoQrdatalist; let i = index;">
             <th scope="row" style="width: 10px;">{{i+1}}</th>
             <td>{{dt.repdate}} 23.55 น.</td>
             <td> <a href="google.com" color="primary">
              <span class="material-icons">
                qr_code
                </span>
                กดรับ
             </a></td>
           </tr>

         </tbody>
       </table>

       <mat-divider></mat-divider>
       <P></P>
       <section>
         <div class="example-button-row" style="text-align: center;">
           <button mat-raised-button color="primary" >
             <span class="material-icons">
             check_circle_outline
             </span> ยืนยัน</button>&nbsp;
           <button  routerLink="/qrpagelist" routerLinkActive="active" mat-raised-button color="warn">
            <span class="material-icons">
              fast_rewind
              </span> กลับไปก่อนหน้า</button>

         </div>
       </section>
       <p>
         <hr>
      </div>
    </div>
   </div>

</main>

</body>
