
html, body {
  width: 100%;
  height: 100%;
}

body {
  margin-top: 0;
  background: url('../../../assets/img/mainbg2.png') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

.bgOpacity{
  margin-top: 0;
  background-image: url('../../../assets/img/transperent80.png');
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-repeat: repeat;
  /*width: 100%;*/
  height: 100%;
  position: relative;
}

.im-responsive {
  width: 50%;
  height: auto;

}

.row-aligment {

  margin-top: 2%;
  text-align: center;

}
.row-aligment-bt {

  margin-bottom: 3%;

}
.bt-responsive {
  width: 80%;
  height: auto;
  margin-top: 1%;

}
.zoomin {
  transition: transform .2s;
  /* Animation */
  margin: 0 auto;
}
.zoomin:hover {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(0.9);
}

main {
  width: 95%;
  margin: auto;

}

.ontopmenu {
  padding-top: 5%;
}

.myRegButton {
  width: 100%;
  box-shadow: inset 0px 1px 0px 0px #cf866c;
  background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color: #d0451b;
  border-radius: 3px;
  border: 1px solid #942911;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 95%;
  padding: 3px 3px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #854629;
  text-align: center;
}

.myRegButton:hover {
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color: #bc3315;
}

.myRegButton:active {
  position: relative;
  top: 1px;
}

.mypinkkButton {
  width: 100%;
  box-shadow: inset 0px 26px 0px -24px #e67a73;
  background-color: #e4685d;
  border-radius: 4px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 95%;
  padding: 32px 76px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}

.mypinkkButton:hover {
  background-color: #eb675e;
}

.mypinkkButton:active {
  position: relative;
  top: 1px;
}

.myYellowButton {
  width: 100%;
  box-shadow: 0px 1px 0px 0px #fff6af;
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border-radius: 3px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-size: 95%;
  font-weight: bold;
  padding: 3px 3px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
  text-align: center;
}

.myYellowButton:hover {
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
}

.myYellowButton:active {
  position: relative;
  top: 1px;
}

.myGreenButton {
  width: 100%;
  box-shadow: inset 0px -2px 0px 0px #a4e271;
  background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  background-color: #89c403;
  border-radius: 3px;
  border: 1px solid #74b807;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 95%;
  font-weight: bold;
  padding: 3px 3px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528009;
  text-align: center;
}

.myGreenButton:hover {
  background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
  background-color: #77a809;
}

.myGreenButton:active {
  position: relative;
  top: 1px;
}

.myPinkButton {
  width: 100%;
  box-shadow: inset 0px 1px 0px 0px #fbafe3;
  background: linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
  background-color: #ff5bb0;
  border-radius: 3px;
  border: 1px solid #ee1eb5;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 95%;
  font-weight: bold;
  padding: 3px 3px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #c70067;
  text-align: center;
}

.myPinkButton:hover {
  background: linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
  background-color: #ef027d;
}

.myPinkButton:active {
  position: relative;
  top: 1px;
}

.mySkyblueButton {
  width: 100%;
  box-shadow: inset 0px 0px 0px 0px #dcecfb;
  background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  background-color: #bddbfa;
  border-radius: 3px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 95%;
  font-weight: bold;
  padding: 3px 3px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
  text-align: center;
}

.mySkyblueButton:hover {
  background: linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
  background-color: #80b5ea;
}

.mySkyblueButton:active {
  position: relative;
  top: 1px;
}

.myBrownButton {
  width: 100%;
  box-shadow: inset 0px 1px 0px 0px #a6827e;
  background: linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
  background-color: #7d5d3b;
  border-radius: 1px;
  border: 1px solid #54381e;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 95%;
  font-weight: bold;
  padding: 3px 3px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #4d3534;
  text-align: center;
}

.myBrownButton:hover {
  background: linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
  background-color: #634b30;
}

.myBrownButton:active {
  position: relative;
  top: 1px;
}

.spinner {
  border: 16px solid silver;
  border-top: 16px solid #3c6382;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 500ms linear infinite;
  top: 30%;
  left: 50%;
  position: absolute;
  z-index: 99 !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(-360deg)
  }
}

.txtspinner {
  top: 45%;
  left: 53%;
  position: absolute;
  ;
}
