main {
  padding-top: 50px;
  width: 95%;
  margin: auto;

}

body {
  margin-top: 0;
  background: url('../../../assets/img/mainbg2.png');
<<<<<<< HEAD
  box-shadow: 0 4px 8px 0 rgba(217, 231, 19, 0.2), 0 6px 20px 0 rgba(255, 200, 18, 0.19);
=======
 /* box-shadow: 0 4px 8px 0 rgba(217, 231, 19, 0.2), 0 6px 20px 0 rgba(255, 200, 18, 0.19);*/
>>>>>>> 762a820f (bk commit)
  background-color: lightgoldenrodyellow;
  background-repeat:  repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
}

.tabmaintable {
  width: 95%;
  padding-top: 10px;
  background:linear-gradient(to bottom, #f7ac0a 5%, #ff961f 100%);
  -webkit-box-shadow: 9px 10px 0px -7px rgba(128, 128, 128, 1);
  -moz-box-shadow: 9px 10px 0px -7px rgba(128, 128, 128, 1);
  box-shadow: 9px 10px 0px -7px rgba(128, 128, 128, 1);

}

.texrheader {
  padding: 4px 0 4px 0;
  color: white;

}

<<<<<<< HEAD
.container{
  -webkit-box-shadow: 9px 10px 0px -7px rgba(128, 128, 128, 1);
  -moz-box-shadow: 9px 10px 0px -7px rgba(128, 128, 128, 1);
  box-shadow: 9px 10px 0px -7px rgba(128, 128, 128, 1);
}
=======
/*.container{
  -webkit-box-shadow: 9px 10px 0px -7px rgba(128, 128, 128, 1);
  -moz-box-shadow: 9px 10px 0px -7px rgba(128, 128, 128, 1);
  box-shadow: 9px 10px 0px -7px rgba(128, 128, 128, 1);
}*/
>>>>>>> 762a820f (bk commit)

.table-striped>tbody>tr:nth-child(2n+1)>td,
.table-striped>tbody>tr:nth-child(2n+1)>th {
  background-color: #ffeaa7;
}

<<<<<<< HEAD

.spinner{
=======
.spinner {
>>>>>>> 762a820f (bk commit)
  border: 16px solid silver;
  border-top: 16px solid #3c6382;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 500ms linear infinite;
  top: 30%;
  left: 50%;
<<<<<<< HEAD
position: absolute;z-index: 99 !important;
}

@keyframes spin{
   0% {transform: rotate(0deg)}
   100% {transform: rotate(-360deg)}
}


.txtspinner{
  top: 45%;
  left: 53%;
position: absolute;;
}

=======
  position: absolute;
  z-index: 99 !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(-360deg)
  }
}

.txtspinner {
  top: 45%;
  left: 53%;
  position: absolute;
  ;
}
>>>>>>> 762a820f (bk commit)
