<app-header></app-header>
<body>
  <main>
    <div class="container">
      <app-profilecomponent></app-profilecomponent>
      <mat-card>
      <div class="row" style="margin-bottom: 15px;">
        <div class="col-md-12 tabmaintable">
          <div class="texrheader">
            <h2>
              <span class="material-icons">
                backup_table
              </span> แสดงวิชาที่นักศึกษาได้ทำการลงทะเบียนปีการศึกษา {{sem}}/{{year}}
            </h2>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col-md-12" style="text-align: center;">
           <div *ngIf="checkCourseNull">
              <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" style="width: 10px;">#No</th>
                  <th scope="col">วิชา</th>
                  <th scope="col">วันที่สอบ</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of allCourse; let i = index;">
                  <th scope="row" style="width: 10px;">{{i+1}}</th>
                  <td>{{data.courseNo}}</td>
                  <td> {{data.examperiod}}</td>
                </tr>

              </tbody>
            </table>
      </div>
          <div *ngIf="!checkCourseNull" style="padding-top: 5%; padding-bottom: 3%;">
                <h2 style="color: red; font-weight: bold;">ท่านไม่มีวิชาลงทะเบียน</h2>
          </div>

            <mat-divider></mat-divider>
            <P></P>
            <section style="margin-top: 15px;">
              <div class="example-button-row" style="text-align: center;"><br>
                <button (click)="backhome()" routerLinkActive="active" mat-raised-button color="warn">
                  <span class="material-icons">
                    home
                  </span> กลับสู่หน้าหลัก</button>

              </div>
            </section>
            <p>
              <hr>

          </div>
        </div>
      </mat-card>
    </div>

  </main>


  <p></p>
  <app-footer></app-footer>
  <div *ngIf="showSpinner" class="spinner"></div>
  <div *ngIf="showSpinner" class="txtspinner">loading...</div>
</body>
