<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<body>



<main>
<mat-card style="padding-top: 4%;">
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="text-align: center;">
          <img src="assets/img/logoet.png" alt="" >
        </div>
      </div>
    </div>
  </div>
  <div class="py-0">
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10"div class="col-md-10" style="background-color: #ff7541; text-align: center; padding-top: 15px;">
          <!-- img src="assets/img/txt2.png" alt=""-->
          <h1 style="font-weight: bold; color: aliceblue;">E - TESTING SYSTEM</h1>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
  <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10" style=" text-align: center; padding-top: 15px;">
            <img src="assets/img/txt1.png" alt="" style="width: 90%;">
            <!-- label class="txt2">ระบบลงทะเบียนสอบ E-testing</!-->
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <button  *ngIf="checkClose" mat-flat-button color="primary" (click)="closePage()"><i class="fa fa-home"></i> กลับไปที่ E-services </button>
          <button *ngIf="!checkClose"mat-flat-button color="warn" (click)="getHome()"><i class="material-icons orange600">face</i> เริ่มการลงทะเบียน</button>
         </div>
      </div>
    </div>
  </div>
</mat-card>
</main>
</body>
