mat-card {
  margin-top: 2rem;
}


html, body {
  width: 100%;
  height: 100%;
}

body {
  margin-top: 0;
  background: url('../../../assets/img/mainbg2.png') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}


.mat-column-select {
  overflow: initial;
}

table {
  width: 100%;
}

mat-expansion-panel[aria-disable=true] {
  color: rgba(0, 0, 0, alpha);
}

.tabmaintable {
  width: 95%;
  padding-top: 10px;
  background: linear-gradient(to bottom, #f7ac0a 5%, #ff961f 100%);
  -webkit-box-shadow: 9px 10px 0px -7px rgba(128, 128, 128, 1);
  -moz-box-shadow: 9px 10px 0px -7px rgba(128, 128, 128, 1);
  box-shadow: 9px 10px 0px -7px rgba(128, 128, 128, 1);

}

.example-custom-date-class {
  background: orange;
  border-radius: 100%;
}

.dateAleart-class {
  background: red;
  border-radius: 100%;
}

.table-striped>tbody>tr:nth-child(2n+1)>td,
.table-striped>tbody>tr:nth-child(2n+1)>th {
  background-color: #faedd2;
}

.spinner {
  border: 16px solid silver;
  border-top: 16px solid #3c6382;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 500ms linear infinite;
  top: 30%;
  left: 50%;
  position: absolute;
  z-index: 99 !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(-360deg)
  }
}

.txtspinner {
  top: 45%;
  left: 53%;
  position: absolute;
  ;
}
