main {
  padding-top: 40px;
  width: 95%;
  margin: auto;

}

body {
  margin-top: 0;
  background: url('../../../assets/img/mainbg2.png');
  box-shadow: 0 4px 8px 0 rgba(217, 231, 19, 0.2), 0 6px 20px 0 rgba(255, 200, 18, 0.19);
  background-color: lightgoldenrodyellow;
  background-repeat:  repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
}

.tabmaintable {
  width: 95%;
  padding-top: 10px;
  background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  -webkit-box-shadow: 9px 10px 0px -7px rgba(128, 128, 128, 1);
  -moz-box-shadow: 9px 10px 0px -7px rgba(128, 128, 128, 1);
  box-shadow: 9px 10px 0px -7px rgba(128, 128, 128, 1);

}

.texrheader {
  padding: 4px 0 4px 0;
  color: black;
  font-weight: bold;

}

.texrheader2 {
  padding: 4px 0 4px 0;
  color: rgb(255, 255, 255);
  font-weight: bold;

}

.table-striped>tbody>tr:nth-child(2n+1)>td,
.table-striped>tbody>tr:nth-child(2n+1)>th {
  background-color: #f8edd4;
}
a{
  color: #341f97;
}

.buttomdiv{
  margin-bottom: 15px;
}


.spinner{
  border: 16px solid silver;
  border-top: 16px solid #3c6382;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 500ms linear infinite;
  top: 30%;
  left: 50%;
position: absolute;z-index: 99 !important;
}

@keyframes spin{
   0% {transform: rotate(0deg)}
   100% {transform: rotate(-360deg)}
}


.txtspinner{
  top: 45%;
  left: 53%;
position: absolute;;
}

