main {
  width: 95%;
  margin: auto;
  padding-top: 2%;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin-top: 0;
  background: url('../../../assets/img/mainbg2.png') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

mat-card {
  padding-bottom: 2%;
  margin: auto;
}

card-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.col-align {
  text-align: center;
}

.tabmaintable {
  width: 95%;
  padding-top: 10px;
  background-color: #00437b;
  -webkit-box-shadow: 9px 10px 0px -7px rgba(128, 128, 128, 1);
  -moz-box-shadow: 9px 10px 0px -7px rgba(128, 128, 128, 1);
  box-shadow: 9px 10px 0px -7px rgba(128, 128, 128, 1);
}

.texrheader {
  padding: 4px 0 4px 0;
  color: white;
}

.qrbuttom {
  background-color: #00437b;
}

.spinner {
  border: 16px solid silver;
  border-top: 16px solid #3c6382;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 500ms linear infinite;
  top: 30%;
  left: 50%;
  position: absolute;
  z-index: 99 !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(-360deg)
  }
}

.txtspinner {
  top: 45%;
  left: 53%;
  position: absolute;
  ;
}
